@import "../../styles/variables.module.scss";

.buttonContainer{
  border-radius: $border-radius;
  padding: 12px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  fill: white;
  justify-content: space-between;

  &:hover{
    background-color: $grey-color;
  }
}

.image{
  border-radius: $border-radius;
}
.textContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}
.nameText{
  font-size: 15px;
  line-height: 20px;
  color: white;
}
.usernameText{
  font-size: 15px;
  line-height: 20px;
  color: $grey-color2;
}