@import "../../styles/variables.module.scss";
@import "../../styles/fontSizes.module.scss";

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $grey-color;
    padding: 0px 16px 12px;
}

.image{
  border-radius: $border-radius;
}

.statusbar{
  height: 30px;
  width: 100%;
  p{
    @include heading3;
  }
}

.withOutStatus{
  height: 16px;
}
.content{
  color: white;
  font-size: 16px;
}

.username{
  padding-left: 8px;
  @include heading2;
  font-weight: 400;
  color: $grey-color2;
  margin: 0;
}
.name{
  @include heading2;
  font-weight: 700;
  margin: 0;
}

.avatar{
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: $border-radius;
}
